
%input{:id => "is_rename_in_edit_mode", :type => "hidden"}
%div{:id => "dialog-confirm", :title => "Delete permanenly?"}
  %p
    %span{:class => "ui-icon ui-icon-alert"} 
    This item will be permanently deleted and cannot be recovered. Are you sure?

%div{:class => "span-5"}
  = render :partial => "frame", :locals => { :title => "Personal", :frame_id => "personal", :todos => @personal_todos }

%div{:class => "span-5"}
  = render :partial => "frame", :locals => { :title => "Family", :frame_id => "family", :todos => @family_todos }

%div{:class => "span-5"}
  = render :partial => "frame", :locals => { :title => "Friends", :frame_id => "friends", :todos => @friends_todos }

%div{:class => "span-5"}
  = render :partial => "frame", :locals => { :title => "Work", :frame_id => "work", :todos => @work_todos }

%div{:class => "span-4 last"}
  = render :partial => "frame", :locals => { :title => "Social", :frame_id => "social", :todos => @social_todos }
