!!! XML
!!!
%head
  %title The bucket list
  = stylesheet_link_tag :application
  = javascript_include_tag :application
  = csrf_meta_tag
  <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

%body
  .container
    / HEAD
    %div{:class => "span-4 colborder"}
      .huxap
        =link_to "The Bucket List", "/"
      .quiet
        %i Control your destiny
    %div{:class => "span-12 menu"}
      %li=link_to "Home", "/" #new_interest_path
      %li=link_to "About", "/home/about"
    %div{:class => "span-6 last"}

    %hr

    / MAIN
    - unless notice.blank?
      = notice
    = yield
    / FOOT 
    %hr
    / %div{:class => "span-24 centerText"}
    /   = render :partial => "foot"
    / %div{:class => "span-24 centerText"}
    /   = render :partial => "/interests/new"